[user]
	name = Ankit Vashisht
	email = ankitvashisht12@gmail.com

[core]
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	side-by-side = true
	dark = true
	line-numbers = true
	commit-decoration-style = bold box ul "#34fd50"
	file-decoration-style = none
	file-style = omit
	hunk-header-decoration-style = "#00b494" box ul
	hunk-header-file-style = "#999999"
	hunk-header-line-number-style = bold "#03a4ff"
	hunk-header-style = file line-number syntax
	line-numbers-left-style = black
	line-numbers-minus-style = "#B10036"
	line-numbers-plus-style = "#03a4ff"
	line-numbers-right-style = black
	line-numbers-zero-style = "#999999"
	minus-emph-style = normal "#de004e"
	minus-style = normal "#990017"
	plus-emph-style = syntax "#03a4ff"
	plus-style = syntax "#450eff"

[merge]
	conflictStyle = zdiff3

[credential "https://github.com"]
	helper =
	helper = !/home/ankit/.local/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper =
	helper = !/home/ankit/.local/bin/gh auth git-credential
